name: aw12_watchface
description: Custom watch face app for AW12 smartwatch (MoYoung/Da Fit)
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  moyoung_ble_plugin: ^1.2.22
  permission_handler: ^11.0.1
  image_picker: ^1.0.4
  image: ^4.1.3
  shared_preferences: ^2.2.2
  file_picker: ^8.0.0
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/watchfaces/
